.container {
  padding: var(--padding);
}

.title {
  margin: 10px 0 20px 0;
  font-size: 24px;
  font-weight: 700;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
}

.descriptionContainer {
  padding: 10px 0;
}

.label {
  display: block;
  margin-right: 20px;
  padding: 10px 0;
  font-weight: 600;
}

.textInput,
.select {
  flex-grow: 1;
  min-width: 240px;
}

.textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 140px;
  min-height: 140px;
}

.buttonsContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  margin-top: 40px;
}

.button {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
