.mainContainer {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--panel-background-lighter);
}

.header {
  display: flex;
  flex-direction: column;
  height: 108px;
  padding: var(--padding);
  color: var(--color-white);
  background-color: var(--panel-background-colored);
}

.headerPanel {
  display: flex;
  align-items: center;
  margin-top: auto;
  line-height: 1;
}

.backButton {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    position: relative;
    top: 2px;
    width: 100%;
    height: auto;

    path {
      fill: var(--color-white)
    }
  }
}

.title {
  margin: 0;
  margin-left: 40px;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}

.formContainer {
  flex-grow: 1;
  padding: var(--padding);
  background: #ffffff;
}

.formTitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}
